#include <pgmspace.h>

#ifndef MY_SECRETS_H
#define MY_SECRETS_H

#ifndef MY_SSID
#define MY_SSID ""
#endif

#ifndef MY_PASSWORD
#define MY_PASSWORD ""
#endif

#ifndef MQTT_ENDPOINT
#define MQTT_ENDPOINT ""
#endif

// Amazon Root CA 1
static const char AWS_CERT_CA[] PROGMEM = R"EOF(
<AWS_CERT_CA>
)EOF";

// Device Certificate
static const char AWS_CERT_CRT[] PROGMEM = R"KEY(
<AWS_CERT_CRT>
)KEY";

// Device Private Key
static const char AWS_CERT_PRIVATE[] PROGMEM = R"KEY(
<AWS_CERT_PRIVATE>
)KEY";

#endif
